---
import Square from "./square.astro";
---

<div
  class="relative flex w-full divide-x h-[30px] md:h-[45px] lg:h-[50px] xl:h-[60px] divide-neutral-300 dark:divide-neutral-700 divide-dashed"
>
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
  <Square />
</div>
